body {
  font-family: Avenir;
}


.column {
  float: left;
  width: 25%;
  padding: 10px;
  background-color: #4cb8F3;
  color: white;
}

.footertext{
  margin-left:70px;
  margin-top: 35px;
  margin-botton: 35px;
  font-size: 15px;
  line-height: 1.8;
  color: #BBEEFE;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
}
