
.text {
	color: Black;
	font-family: Avenir;
	font-size: 25px;
} 


button {
	background-color: #3C59D5;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 12px;
}

button:hover {
	opacity: 0.8;
}

.h2 { 
	font-size: 30px; 
	color: Black; 
	font-family: Avenir;
		
}
 
 button {
	color: white;
	padding: 14px 20px;
	margin: 5px;
	border: none;
	cursor: pointer;
	font-size: 70%;
	display: inline-block;
	text-align: center;
	background: rgb(24, 187, 217);
	background: linear-gradient(90deg, rgba(24, 187, 217, 1) 0%,
		rgba(76, 184, 243, 1) 59%, rgba(201, 162, 242, 1) 100%);
	width: 31%;
	border-radius: 16px;
}

button:hover {
	opacity: 0.8;
} 

.container {
	padding: 2px; 
	background: light grey; 
	
}