
.text {
	color: Black;
	font-family: Avenir;
	font-size: 32px;
} 


button:hover {
	opacity: 0.8;
}

.h2 { 
	font-size: 30px; 
	color: Black; 
	font-family: Avenir;
		
}
 
 button {
	color: white;
	background: #19A19D;
	border-radius: 10px;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
	width: 80%;
	height: 70px;
}

button:hover {
	opacity: 0.8;
} 

.container {
	padding: 2px; 
	background-color: rgb(192, 192, 192)ht grey;
	style: "font-size: 13px; 

}


.header {
 	background-color: white; 
 	/* padding: 130px; */ 	
	
	
}