<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home: Internet Banking</title>
<script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/home.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
</head>

<body> 

<div class="sidebar">
<br>
  <a th:href="@{/home}"><i class="fa fa-fw fa-home"></i> Home</a><br>
  <a th:href="@{/setting}"><i class="fa fa-fw fa-wrench"></i> Setting</a ><br>
  <a th:href="@{/personal}"><i class="fa fa-fw fa-user"></i> Personal Info</a><br>
</div>

<div class = "main">
	<div class="header">
	  <a href="#default" class="logo"> <span><img th:src="@{/resources/img/logo.png}"style="width:155px;height:45px" /></span></a>
	  <div class="header-right">
	  	<form action="#" th:action="@{/logout}">
	    <a>  <p style="font-size:100%; letter-spacing: 2px"> <p th:text="'Hello, ' + ${user.username} + '!'" /> </p></a>
			<button type="submit" style = "border: 1pxl; background: white; color: #FC5A5A; font-size:250%">
			<i class="fas fa-sign-out-alt"></i></button>
		</form>
	  </div>
	</div>
	
	<div class="header" style = "background-color: #4CB8F3"> </div> <br>
	
	<div class="img" >
		<img th:src="@{/resources/img/balance.png}" alt="balance" style="width:300px;height:250px">
		<div class="topcentered" style="color: #4F4E56">Cash Balance</div>
		<div class="centered" style="color: #4F4E56; font-size:350%"><p th:text="${userBalance}" /></div>
	</div>
	
	 
<br>
	<div class="btn-group">
		<form action="#" th:action="@{/transaction}">
			<button type="submit">
				<br><br><i class="fas fa-money-check-alt"  style = "font-size: 400%"></i> <br><br> Check Transaction<br><br></button>
		</form>
		<form action="#" th:action="@{/transfer}">
			<button type="submit">
				<br><br><i class="fas fa-exchange-alt"  style = "font-size: 400%"></i> <br><br> Transfer<br><br></button>
		</form>
			

		
			<form:form method="POST" action="" modelAttribute="user">
				<form:hidden path="username" />
				<form:hidden path="token" />
						<button type="submit">
						<br><br><i class="fas fa-scroll" style = "font-size: 400%"></i> <br><br> Make a request<br><br> </button>
				</form:form>
	</div>
</div>
	

</body>
</html>