<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
</head>

<body>

<center>
<a th:href="@{/logout}" class="logo"> <span><img th:src="@{/resources/img/logo.png}" style="width:150px;height:45px" /></span></a>
</center>

<div class="container" style="background-color:white"> 
 <center>
		<p style="font-size:250%;  letter-spacing: 4px; color: royalblue">Welcome back!</p>
		<p style="font-size:95%;  letter-spacing: 2px";>Member Login</p><br>
	</center>
	<div class="box" style="width:50%">
    	<form action="#" th:action="@{/login}" th:object="${user}" method="post">

			<div class="alert" th:if="${message}" >
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<p th:text="${message}"/>
			</div>
			<br>
						<i class="fas fa-user"></i>
								<input type="text" placeholder="Enter User name" th:field="*{username}" />
						<i class="fas fa-lock"></i>	
								<input type="password"placeholder="Enter  Password" th:field="*{password}" />
								
						<p style="font-size:60%"> <span class="psw" style= "color: royalblue"> <a href="forgot">Forgot Password</a></span></p>
						<button type="submit" style="font-size:80%"><b>L o g i n</b></button>

		</form>
		<center>
			<form action="#" th:action="@{/signup}">
			<button type="submit" style="font-size:80%; width: 50%; background: rgb(24,187,217); background: linear-gradient(90deg, rgba(24,187,217,1) 0%, rgba(76,184,243,1) 59%, rgba(201,162,242,1) 100%);">
			<b>New User? Join us now</b></button> 
			</form>
		</center>
		
	</div>
</div>

<div class="container" style="background-color:white; padding: 50px"> </div>
<hr>
<div class="row">
  <div class="column">
  	<div class="footertext">
	    <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>OUR PRODUCT</b></a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">Loans</a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">Cards</a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">Digital Banking</a>
    </div>
  </div>
  <div class="column">
   <div class="footertext">
	    <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>ABOUT US</b></a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">About EE Bank</a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">Corporate Governance</a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">CSR</a>
    </div>
  </div>
  <div class="column">
  	<div class="footertext">
	    <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>SUPPORTS</b></a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">Contact Us</a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">FAQs</a><br>
	    <a href="#"  style="color:#BBEEFE; text-decoration:none">Term of Use</a>
  	</div>
  </div>
  
  <div class="column">
  	<div class="footertext">
	    <p style="font-size: 13px; color:#AED6F1;"><b>EE-BANK CALL CENTER</b></p>
	    <p style="font-size: 27px"> XX-XXXX-XXX</p>
	</div>
  </div>
 </div>
    
</body>
</html>