<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
    <meta charset="UTF-8">

    <title>Personal Information</title>
    <link rel="icon" th:href="@{/resources/img/logo_only.png}" type="image/gif" sizes="16x16">
    <script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/transaction.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}"/>
   <link rel="stylesheet" type="text/css" th:href="@{/resources/css/home.css}"/>
	

</head>
<body>

<div class="sidebar">
    <br>
    <a th:href="@{/home}"><i class="fa fa-fw fa-home"></i> Home</a><br>
    <a th:href="@{/setting}"><i class="fa fa-fw fa-wrench"></i> Setting</a ><br>
    <a th:href="@{/personal}"><i class="fa fa-fw fa-user"></i> Personal Info</a><br>
</div>

<div class = "main">

	<div class="header">
		
			<a th:href="@{/home}" class="logo"> <span><img th:src="@{/resources/img/logo.png}"style="width:155px;height:45px" /></span></a>
		
		<div class="header-right">
			<form action="#" th:action="@{/logout}">
				<button type="submit" class="pull-right" style = "border: 1pxl; background: white; color: #FC5A5A; font-size:250%">
					<i class="fas fa-sign-out-alt"></i></button>
			</form>
		</div>	
	</div>
	<div class="header" style = "background-color: #4CB8F3"> </div> <br>

    <div class="w3-container">
        <div class="row">
            <h2>Personal Information</h2>
        </div>

        <div class="w3-container">

            <table class="w3-table-all w3-hoverable">
                <thead>

                </thead>
                <tr>
                    <td>Username</td>
                    <td th:text=${user.username}></td>
                </tr>
                <tr>
                    <td>Account Number</td>
                    <td th:text=${user.accountNumber}></td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td th:text=${user.fullName}></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>USD</td>
                </tr>
                <tr>
                    <td>Current Balance</td>
                    <td th:text="${userBalance}"></td>
                </tr>
            </table>
        </div>

        <br>

    </div>

    <hr>
    <div class="row">
        <div class="column">
            <div class="footertext">
                <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>OUR PRODUCT</b></a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Loans</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Cards</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Digital Banking</a>
            </div>
        </div>
        <div class="column">
            <div class="footertext">
                <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>ABOUT US</b></a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">About EE Bank</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Corporate Governance</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">CSR</a>
            </div>
        </div>
        <div class="column">
            <div class="footertext">
                <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>SUPPORTS</b></a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Contact Us</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">FAQs</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Term of Use</a>
            </div>
        </div>

        <div class="column">
            <div class="footertext">
                <p style="font-size: 13px; color:#AED6F1;"><b>EE-BANK CALL CENTER</b></p>
                <p style="font-size: 27px"> XX-XXXX-XXX</p>
            </div>
        </div>
    </div>


</div>
</body>
</html>