<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Personal Info</title>
<link rel="icon" th:href="@{/resources/img/logo_only.png}" type="image/gif" sizes="16x16">
<script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/transfer.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/sidebar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}"/>
	
</head>

<body> 

<div class="sidebar">
<br>
  <a th:href="@{/home}"><i class="fa fa-fw fa-home"></i> Home</a><br>
  <a th:href="@{/setting}"><i class="fa fa-fw fa-wrench"></i> Setting</a ><br>
  <a th:href="@{/personal}"><i class="fa fa-fw fa-user"></i> Personal Info</a><br>
</div>


<div class="main">
	<div class="header">
		<a th:href="@{/home}" class="logo"> <span><img th:src="@{/resources/img/logo.png}"style="width:155px;height:45px" /></span></a>
		<div class="header-right">
			<form action="#" th:action="@{/logout}">
				<button type="submit" class="pull-right" style = "border: 1pxl; background: white; color: #FC5A5A; font-size:250%">
					<i class="fas fa-sign-out-alt"></i></button>
			</form>
		</div>
	</div>
		
	<div class="header" style = "background-color: #4CB8F3"> </div> <br>

	<center>
		<p style="font-size:250%;  letter-spacing: 4px; color: royalblue">Personal Information</p>
	</center>
	
	<div class="box" style=" border: 2px solid #A5A6A7 ; width:60%; border-radius: 12px;">
	<h2>Profile</h2>
		<table>
			<tr>
				<td style="font-size: 75%; color: #858687; letter-spacing: 1.5px "><b>NAME </b></td>
				<td></td>
				<td th:text= "${user.fullName}"></td>
			</tr>
			<tr>
				<td style="font-size: 75%; color: #858687; letter-spacing: 1.5px "><b>USERNAME </b></td>
				<td></td>
				<td th:text= "${user.username}" ></td>
			</tr>
			<tr>
				<td style="font-size: 75%; color: #858687; letter-spacing: 1.5px "><b>ACCOUNT NO. </b></td>
				<td></td>
				<td th:text= "${user.accountNumber}" ></td>
			</tr>
			<tr>
				<td style="font-size: 75%; color: #858687; letter-spacing: 1.5px "><b>BIRTHDAY </b></td>
				<td></td>
				<td th:text= ".." ></td>
			</tr>
			<tr>
				<td style="font-size: 75%; color: #858687; letter-spacing: 1.5px "><b>JOIN SINCE </b></td>
				<td></td>
				<td th:text= ".." ></td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	
	<div class="box" style=" border: 2px solid #A5A6A7 ; width:60%; border-radius: 12px;">
	<h2>Contact information</h2>
		<table>
			<tr>
				<td style="font-size: 75%; color: #858687; letter-spacing: 1.5px "><b>EMAIL </b></td>
				<td></td>
				<td th:text= ".." ></td>
			</tr>
		</table>
	</div>



<div class="container" style="background-color:white; padding:70px"> </div>

	<div class= "header" ></div>
	<hr>
		<div class="row">
			<div class="column">
				<div class="footertext">
					<a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>OUR PRODUCT</b></a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">Loans</a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">Cards</a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">Digital Banking</a>
				</div>
			</div>
			<div class="column">
				<div class="footertext">
					<a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>ABOUT US</b></a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">About EE Bank</a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">Corporate Governance</a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">CSR</a>
				</div>
			</div>
			<div class="column">
				<div class="footertext">
					<a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>SUPPORTS</b></a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">Contact Us</a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">FAQs</a><br>
					<a href="#"  style="color:#BBEEFE; text-decoration:none">Term of Use</a>
				</div>
			</div>
	
			<div class="column">
				<div class="footertext">
					<p style="font-size: 13px; color:#AED6F1;"><b>EE-BANK CALL CENTER</b></p>
					<p style="font-size: 27px"> XX-XXXX-XXX</p>
				</div>
			</div>
		</div>

</div>



</body>
</html>