<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
    <meta charset="UTF-8">

    <title>Request</title>
    <script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/transfer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/request.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/transaction.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}"/>
    <link rel="icon" th:href="@{/resources/img/logo_only.png}" type="image/gif" sizes="16x16">

</head>
<body>

<div class="sidebar">
    <br>
    <a th:href="@{/home}"><i class="fa fa-fw fa-home"></i> Home</a><br>
    <a th:href="@{/setting}"><i class="fa fa-fw fa-wrench"></i> Setting</a ><br>
    <a th:href="@{/personal}"><i class="fa fa-fw fa-user"></i> Personal Info</a><br>
</div>

<div class = "main">

    <div class="header">
        <a th:href="@{/home}" class="logo"> <span><img th:src="@{/resources/img/logo.png}"style="width:155px;height:45px" /></span></a>
        <div class="header-right">
            <form action="#" th:action="@{/logout}">
				<button type="submit" class="pull-right" style = "border: 1pxl; background: white; color: #FC5A5A; font-size:250%">
					<i class="fas fa-sign-out-alt"></i></button>
			</form>
        </div>
    </div>
    <div class="header" style="background: rgb(24,187,217); background: linear-gradient(90deg, rgba(24,187,217,1) 0%, rgba(76,184,243,1) 59%, rgba(201,162,242,1) 100%)"> </div>

    <div class="w3-container">
        <div class="row">
            <h2>Account Information</h2>
        </div>


			<div th:class="${alert}" th:if="${message2}" >
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<p th:text="${message2}"/>
			</div>
			<br>
			
        <div class="w3-container">

            <table class="w3-table-all w3-hoverable">
                <thead>

                </thead>
                <tr>
                    <td>Account Number</td>
                    <td th:text=${user.accountNumber}></td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td th:text=${user.fullName}></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>USD</td>
                </tr>
                
                <tr>
                    <td>Current Balance</td>
                    <td th:text="${userBalance}"></td>
                </tr>
            </table>
        </div>

        <hr>
    </div>


    <div th:class="${alertClass}" th:if="${message}" >
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong></strong><p th:text="${message}"/>
    </div>
    <h2>Request</h2>

    <div class="w3-bar w3-black">

        <button class="w3-bar-item w3-button" onclick="openCity('newRequest')">Request Form</button>
        <button class="w3-bar-item w3-button" onclick="openCity('listOfRequest')">List of Request</button>
    </div>

    <div class="container" style="background-color:white">
        <div class="box">
            <div  id="newRequest"  class="w3-container city" >
                <form action="#" th:action="@{/request}" th:object="${newTransferRequest}" method="get">
                 
                 
			   <input type="hidden" id="accountNumber" th:field="*{accountNumber}"/>
                    <p>Request to: <input type="number" th:field="*{destination_id}"/></p>
                    <p>Amount: <input type="number" th:field="*{amount}"/></p>
                    <p>Message: <input type="text" th:field="*{message}" /></p>
                    <button type="submit" style="font-size:100%; letter-spacing: 2px;"> REQUEST </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="background-color:white">
        <div class="box" style="width: 80%">
            <div id="listOfRequest" class="w3-container city" style="display:none">
                <div class="w3-container">
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                        <tr class="w3-light-grey">
                            <th>Time</th>
                            <th>Detail</th>
                            <th>Message</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tr th:each="transfer : ${listOfRequest}">
                            <td th:text="${transfer.time}"></td>
                            <td th:text="${transfer.name1}"></td>
                            <td th:text="${transfer.message}"></td>
                            <td th:text="${transfer.amountCurr}"></td>
                            <td th:if="${transfer.status == 'option'}" >
                                <form action="#" th:action="@{/request}" th:object="${transfer}"  method="post">
                                    <input type="hidden" id="response" name="response" value="send"/>
                                    <input type="hidden" id="id" name="id" th:value="*{id}"/>
                                    <input type="hidden" id="receiver" name="receiver" th:value="*{receiver}"/>
                                    <input type="hidden" id="requester" name="requester" th:value="*{requester}"/>
                                    <input type="hidden" id="name1" name="name1" th:value="*{name1}"/>
                                    <input type="hidden" id="name2" name="name2" th:value="*{name2}"/>
                                    <input type="hidden" id="time" name="time" th:value="*{time}"/>
                                    <input type="hidden" id="amount" name="amount" th:value="*{amount}"/>
                                    <button type="submit" class="buttona" style="padding: 5px 5px"> S E N D </button>
                                </form>
                                <form action="#" th:action="@{/request}" th:object="${transfer}"  method="post">
                                    <input type="hidden" id="response" name="response" value="reject"/>
                                    <input type="hidden" id="id" name="id" th:value="*{id}"/>
                                    <input type="hidden" id="receiver" name="receiver" th:value="*{receiver}"/>
                                    <input type="hidden" id="requester" name="requester" th:value="*{requester}"/>
                                    <input type="hidden" id="name1" name="name1" th:value="*{name1}"/>
                                    <input type="hidden" id="name2" name="name2" th:value="*{name2}"/>
                                    <input type="hidden" id="time" name="time" th:value="*{time}"/>
                                    <input type="hidden" id="amount" name="amount" th:value="*{amount}"/>
                                    <button type="submit" class="buttonr" style="padding: 5px 5px"> R E J E C T </button>
                                </form>
                            </td>
                            <td th:if="${transfer.status != 'option'}" th:text="${transfer.status}">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="background-color:white; padding:70px"> </div>

    <div class="row">
        <div class="column">
            <div class="footertext">
                <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>OUR PRODUCT</b></a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Loans</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Cards</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Digital Banking</a>
            </div>
        </div>
        <div class="column">
            <div class="footertext">
                <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>ABOUT US</b></a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">About EE Bank</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Corporate Governance</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">CSR</a>
            </div>
        </div>
        <div class="column">
            <div class="footertext">
                <a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>SUPPORTS</b></a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Contact Us</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">FAQs</a><br>
                <a href="#"  style="color:#BBEEFE; text-decoration:none">Term of Use</a>
            </div>
        </div>

        <div class="column">
            <div class="footertext">
                <p style="font-size: 13px; color:#AED6F1;"><b>EE-BANK CALL CENTER</b></p>
                <p style="font-size: 27px"> XX-XXXX-XXX</p>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript" th:src="@{/resources/js/request.js}"></script>
</body>
</html>