<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>Fund Transfer</title>
	<link rel="icon" th:href="@{/resources/img/logo_only.png}" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/transfer.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/sidebar.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}"/>
</head>
<body>

<div class="sidebar">
	<br>
	<a th:href="@{/home}"><i class="fa fa-fw fa-home"></i> Home</a><br>
	<a th:href="@{/setting}"><i class="fa fa-fw fa-wrench"></i> Setting</a ><br>
	<a th:href="@{/personal}"><i class="fa fa-fw fa-user"></i> Personal Info</a><br>
</div>

<div class = "main">

	<div class="header">
		<a th:href="@{/home}" class="logo"> <span><img th:src="@{/resources/img/logo.png}"style="width:155px;height:45px" /></span></a>
		<div class="header-right">
			<form action="#" th:action="@{/logout}">
				<button type="submit" class="pull-right" style = "border: 1pxl; background: white; color: #FC5A5A; font-size:250%">
					<i class="fas fa-sign-out-alt"></i></button>
			</form>
		</div>
	</div>
	<div class="header" style="background: rgb(24,187,217); background: linear-gradient(90deg, rgba(24,187,217,1) 0%, rgba(76,184,243,1) 59%, rgba(201,162,242,1) 100%)"> </div>

	<div class="container" style="background-color:white">
		<center>
			<h2 style="font-size:200%">Change Password</h2><br>
		</center>
		<div class="box">
			<form action="#" th:action="@{/changepassword}" th:object="${user}" method="post">

				<div th:class="${alertClass}" th:if="${message}" >
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<strong>Please re-check</strong><p th:text="${message}"/>
				</div>
				<table>
					<tr>						
						<td>Username: </td>
						<td><input type="text" disabled th:value="${old_user.username}" />
							<input type="hidden" id="username" th:name="username" th:id="username" th:value="${old_user.username}"/></td>
					</tr>
					<tr>
						<td>Old Password: </td>
						<td><input type="password" th:field="*{oldPassword}" /></td>
					</tr>
					<tr>
						<td>New Password: </td>
						<td><input type="password" th:field="*{password}" /></td>
					</tr>
					<tr>
						<td>New Password: </td>
						<td><input type="password" th:field="*{password2}" /></td>
					</tr>
				</table>
				<button type="submit" style="font-size:80%"><b>Change Password</b></button>
			</form>
		</div>
		<hr>
		<center>
			<h2 style="font-size:200%">Remove Account</h2><br>
		</center>
		<div class="box">
			<form action="#" th:action="@{/removeaccount}" th:object="${user}" method="post">

				<div th:class="${alertClass}" th:if="${message2}" >
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<strong>Please re-check</strong><p th:text="${message2 }"/>
				</div>
				<table>
					<tr>						
						<td>Username: </td>
						<td><input type="text" disabled th:value="${old_user.username}" />
							<input type="hidden" id="username" th:name="username" th:id="username" th:value="${old_user.username}"/></td>
					
					</tr>
					<tr>						
						<td>Password: </td>
						<td><input type="password" th:field="*{password}" /></td>
					</tr>
				</table>
				<button type="submit" style="font-size:80%; background-color:red;"><b>Remove Account</b></button>
			</form>
		</div>
	</div>

	<div class="container" style="background-color:white; padding:70px"> </div>

	<div class="row">
		<div class="column">
			<div class="footertext">
				<a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>OUR PRODUCT</b></a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">Loans</a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">Cards</a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">Digital Banking</a>
			</div>
		</div>
		<div class="column">
			<div class="footertext">
				<a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>ABOUT US</b></a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">About EE Bank</a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">Corporate Governance</a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">CSR</a>
			</div>
		</div>
		<div class="column">
			<div class="footertext">
				<a style="font-size: 13px; color:#AED6F1; text-decoration:none"><b>SUPPORTS</b></a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">Contact Us</a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">FAQs</a><br>
				<a href="#"  style="color:#BBEEFE; text-decoration:none">Term of Use</a>
			</div>
		</div>

		<div class="column">
			<div class="footertext">
				<p style="font-size: 13px; color:#AED6F1;"><b>EE-BANK CALL CENTER</b></p>
				<p style="font-size: 27px"> XX-XXXX-XXX</p>
			</div>
		</div>
	</div>

</div>
</body>
</html>