<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
<meta charset="UTF-8">

<title>Account Transaction</title>
<script src="https://kit.fontawesome.com/6e68db03e6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/transaction.css}"/>


<title>Transaction</title>

</head>
<body> 

<div class="sidebar">
<br>
  <a href="home"><i class="fa fa-fw fa-home"></i> Home</a><br>
  <a href="#services"><i class="fa fa-fw fa-wrench"></i> Setting</a><br>
  <a href="#clients"><i class="fa fa-fw fa-user"></i> Personal Info</a><br>
  <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact Us</a><br>
</div>

<div class = "main">

<div class="header">
	  <a href="#default" class="logo"> <span><img th:src="@{/resources/img/logo.png}"style="width:155px;height:45px" /></span></a>
	  <div class="header-right">
	  <p th:text="Transaction" />
	  </div>
	</div>

    
<div class="w3-container">
	<div class="row">
		<h2>Account Information</h2>
 	</div>
  
	<div class="w3-container">
	
	  <table class="w3-table-all w3-hoverable">
	    <thead>
	      
	    </thead>
	    <tr>
	      <td>Account Number</td>
	      <td th:text=${user.accountNumber}></td>
	    </tr>
	    <tr>
	      <td>Full Name</td>
	      <td th:text=${user.fullName}></td>
	    </tr>
	    <tr>
	      <td>Currency</td>
	      <td>USD</td>
	    </tr>
	  </table>
	</div>
	
<br>	
	<div class="img" >
		<img th:src="@{/resources/img/balance.png}" alt="balance" style="width:300px;height:250px">
		<div class="topcentered" style="color: #4F4E56">Cash Balance</div>
		<div class="centered" style="color: #4F4E56; font-size:350%"><p th:text="'$' + ${user.savings}" /></div>
	</div>
	
<hr>
</div>
    
<div class="w3-container">
  <h2>Account Statement</h2>
  	<form th:action="@{/transaction}" method="get">
		  <label for="cars">Choose a month:</label>
		  <select id="month" name="month" >
  		    <option th:each="option : ${options}" th:value="${option.id}" th:text="${option.text}"></option>
		  </select>
		  <input type="submit">
	</form>
	<b><td th:text=${period}></td></b>
<hr>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Date time</th>
        <th>Message</th>
        <th>Amount</th>
        <th>Current Balance</th>
      </tr>
    </thead>
       <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.datetime}"></td>
        <td th:text="${transaction.message}"></td>
        <td class="w3-right-align" th:text="${transaction.amountstring}"></td>
        <td class="w3-right-align" th:text="${transaction.currentbalance}"></td>
      </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Starting Balance</td>
      <td>:</td>
      <td class="w3-right-align" th:text="${startingBalance}"></td>
      <td></td>
    </tr>
    <tr>
      <td>Total Credit</td>
      <td>:</td>
      <td class="w3-right-align" th:text="${totalCredit}"></td>
      <td></td>
    </tr>
    <tr>
      <td>Total Debit</td>
      <td>:</td>
      <td class="w3-right-align" th:text="${totalDebit}"></td>
      <td></td>
    </tr>
    <tr>
      <td>Ending Balance</td>
      <td>:</td>
      <td class="w3-right-align" th:text="${currentBalance}"></td>
      <td></td>
    </tr>
  </table>
</div>
</div>

</body>
</html>