<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/alert.css}"/>
</head>
<body>

<div class="box">

    <div th:class="${alertClass}" th:if="${message}" >
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Danger!</strong><p th:text="${message}"/>
    </div>
    <div class="w3-container">
        <div class="row">
            <h2>Transfer Confirmation</h2>
        </div>

        <div class="w3-container">
            <table class="w3-table-all w3-hoverable">
                <thead>
                <td>
                    FUND TRANSFER - CONFIMATION
                </td>
                <td></td>
                </thead>
                <tr>
                    <td>FUND Origin</td>
                    <td th:text=${transfer.accountNumber}></td>
                </tr>
                <tr>
                    <td>                 </td>
                    <td>                 </td>
                </tr>
                <tr>
                    <td>Fund Destination</td>
                    <td th:text=${transfer.destination_id}></td>
                </tr>
                <tr>
                    <td>Recepient Name</td>
                    <td th:text=${transfer.fullName}></td>
                </tr>
                <tr>
                    <td>Transfer Message</td>
                    <td th:text=${transfer.message}></td>
                </tr>
                <tr>
                    <td>Fund Amount</td>
                    <td th:text=${transfer.amountCurr}></td>
                </tr>
            </table>
        </div>

        <div class="box">
            <form action="#" th:action="@{/send_transfer}" th:object="${transfer}" method="post">
                <p><form type="hidden" id="accountNumber" th:field="*{accountNumber}" /></p>
                <p><input type="hidden" id="destination_id" th:field="*{destination_id}"/></p>
                <p><input type="hidden" id="amount" th:field="*{amount}"/></p>
                <p><input type="hidden" id="message" th:field="*{message}"/></p>
                <input type="hidden" id="id" name="id" th:value="*{id}"/>
                <button type="submit" style="font-size:100%; letter-spacing: 2px;"> CONFIRM </button>
            </form>

        </div>

</div>

</body>
</html>